@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker&display=swap");

.main {
  padding: 1rem;
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 2.5fr 7.5fr 7.5fr 2.5fr;
}

.wrapperControl {
  display: grid;
  grid-template-columns: 2.5fr 15fr 2.5fr;
}
.wrapperLayout {
  display: grid;
  grid-template-columns: 2.5fr 3fr 3fr 3fr 3fr 2.5fr;
}

.divider {
  width: 50px;
  height: auto;
  display: inline-block;
}

.image {
  position: relative;
}

#image1 {
  position: absolute;
  width: 700px;
  height: 400px;
}
