@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: burlywood;
  color: #333;
}

/* .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-family: "Red Hat Display", sans-serif;
}

.item {
  box-sizing: border-box;
  position: relative;
  background: white;
  width: 9rem;
  height: 10rem;
  text-align: center;
  padding: 2.8rem 0 0;
  margin: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  transform-origin: bottom;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  box-shadow: 0 0 4rem 0 rgba(black, 0.1), 0 1rem 2rem -1rem rgba(black, 0.3);
} */

table,
th,
td {
  border: 1px solid black;
  padding: 5px;
}
